<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Diamante</title>
    <link rel="stylesheet" href="{{ asset('bundles/diamantefront/css/main.css') }}" type="text/css"/>
</head>
<body>
<header id="header"></header>

<section id="main" class="container">
    <div id="messages"></div>
    <div id="content">
        <div class="starter-template">
            <h1 style="text-align: center;">Loading ...</h1>
        </div>
    </div>
</section>

<footer id="footer"></footer>

<div id="dialog"></div>

<script data-main="{{ asset('bundles/diamantefront/js/main.js') }}"
        src="{{ asset('bundles/diamantefront/js/vendor/requirejs/require.js') }}"></script>
<script>
    require.config({
        config : {
            'config' : {
                env : '{{ app.environment }}',
                basePath : '{{ basePath }}',
                baseUrl : '{{ baseUrl }}',
                apiUrl : '{{ apiUrl }}',
                branchId : {{ branchId }},
                logo : '{{ basePath }}/bundles/diamantefront/img/logo.png',
                title : 'Diamante'
            }
        }
    });
</script>

</body>
</html>