<div class="widget-content form-horizontal box-content row-fluid">
    {% if saved is defined and saved %}
        <script type="text/javascript">
            require(['oroui/js/widget-manager', 'oroui/js/mediator'],
                    function(widgetManager, Mediator) {
                        widgetManager.getWidgetInstance({{ app.request.get('_wid')|json_encode|raw }}, function (widget) {
                            widget.remove();
                        });
                        Mediator.execute('refreshPage');
                    });
        </script>
    {% else %}
        <div class="form-container">
            <form id="{{ form.vars.name }}" action="{{ path('diamante_ticket_mass_assign', {'no_redirect': true}) }}" method="post">
                <fieldset class="form form-horizontal">
                    <input type="hidden" name="ids" value="{{ form.vars.value.ids }}" >
                    <div class="span6">
                        {{ form_row(form.assignee) }}
                    </div>
                    <div class="widget-actions form-actions">
                        <button class="btn" type="reset">{{ 'diamante.desk.ui.cancel'|trans }}</button>
                        <button class="btn btn-primary" type="submit">{{ 'diamante.desk.ui.change'|trans }}</button>
                    </div>
                </fieldset>
                {{ form_rest(form) }}
            </form>
        </div>
    {% endif %}
</div>
