<% var isEdit = !!content; %>
<% if(!isEdit){ %>
<h2><%= __('diamante_front.comment.template.form.add') %></h2>
<% } %>
<form action="/" role="form">
    <div class="form-group">
        <textarea class="form-control" name="content" id="comment<%= isEdit? '-edit':''%>-content" rows="4"><%= content %></textarea>
    </div>
    <div id="comment<%= isEdit? '-edit':''%>-attachment"></div>
    <div id="comment<%= isEdit? '-edit':''%>-attachment-drop"></div>
    <div class="comment-form-actions">
        <% if(isEdit){ %>
        <button type="reset" class="btn btn-default js-cancel"><%= __('diamante_front.comment.template.form.cancel') %></button>
        <button type="submit" class="btn btn-primary js-submit"><%= __('diamante_front.comment.template.form.save') %></button>
        <% } else { %>
        <button type="submit" class="btn btn-primary js-submit"><%= __('diamante_front.comment.template.form.add') %></button>
        <% } %>
    </div>
</form>
