<% 'TEMPLATE: automation-actions-template' %>
<% var entities = config.entities; %>
<% var properties = entities[entity].properties; %>
<% var property = typeof property !== 'undefined' && property; %>
<% var value = typeof value !== 'undefined' && value; value = value ? value : ''; %>
<div class="controls">
    <strong class="value">
        <%= config.actions[type].label %>
    </strong>
    <% if(type == 'update_property'){ %>
        <% if(properties){ %>
        <span class="label">Set: </span>
        <strong class="value"><%= properties[property].label %></strong>
        <% } %>
        <% if(property){ %>
            <span class="label">To: </span>
            <% if(properties[property].type == 'string'){ %>
                <strong class="value"><%= value %></strong>
            <% } else if (properties[property].frontend_options){ %>
                <strong class="value"><%= properties[property].frontend_options[value] %></strong>
            <% } %>
        <% } %>
    <% } %>
    <% if(type == 'notify_by_email' || type == 'move_to_branch'){ %>
        <span class="label">To: </span>
        <strong class="value"><%= value %></strong>
    <% } %>
</div>