<% 'TEMPLATE: automation-actions-template' %>
<% var entities = config.entities; %>
<% var properties = entities['ticket'].properties; %>
<% var property = typeof property !== 'undefined' && property; %>
<% var value = typeof value !== 'undefined' && value; value = value ? value : ''; %>
<div class="controls">
    <strong>
        <%= config.actions[type].label %>
    </strong>
    <% if(type == 'update_property'){ %>
        <span>Of:</span>
        <strong><%= entities[entity].label %></strong>
        <% if(properties){ %>
        <span>Set: </span>
        <strong><%= properties[property].label %></strong>
        <% } %>
        <% if(property){ %>
            <span>To: </span>
            <% if(properties[property].type == 'string'){ %>
                <strong><%= value %>" /></strong>
            <% } else if (properties[property].frontend_options){ %>
                <strong><%= properties[property].frontend_options[value] %></strong>
            <% } %>
        <% } %>
    <% } %>
    <% if(type == 'notify_by_email'){ %>
        <span>To: </span>
        <input type="text" name="actions[value]" data-attr="value" value="<%= value %>" />
    <% } %>
</div>