{% block sidebar %}
    <div class="form-horizontal" id="right-block">
        <div class="responsive-cell responsive-cell-no-blocks">
            {% set detailsBlock = [DiamUI.attributeRow('diamante.desk.attributes.source'|trans, entity.source.getLabel)] %}
            {% set detailsBlock = detailsBlock|merge([DiamUI.attributeRow('diamante.desk.attributes.priority'|trans, entity.priority.getLabel)]) %}
            {% set oroUserReporter = fetch_oro_user(entity.reporter) %}
            {% set diamanteUserReporter = fetch_diamante_user(entity.reporter) %}
            {% set reporterBlock = [DiamUI.attributeRow('email', reporter.getEmail)] %}
            {% if oroUserReporter %}
                {% set avatarReporter = oro_configured_image_url(oroUserReporter, 'avatar') %}
                {% set reporterBlock = reporterBlock|merge([DiamUI.attributeRow('oro.user.phone.label'|trans, oroUserReporter.getPhone ? oroUserReporter.getPhone : 'diamante.desk.common.not_available'|trans)]) %}
            {% elseif diamanteUserReporter %}
                {% set avatarReporter = get_gravatar(diamanteUserReporter.email) %}
                {% set reporterBlock = reporterBlock|merge([DiamUI.attributeRow('oro.user.phone.label'|trans,diamanteUserReporter.getPhone ? diamanteUserReporter.getPhone : 'diamante.desk.common.not_available'|trans)]) %}
            {% endif %}

            {% set oroUserAssigned = entity.assignee  %}

            {% if oroUserAssigned != null %}
                {% set assignedBlock = [DiamUI.attributeRow('oro.user.emails.label'|trans, oroUserAssigned.getEmail)] %}
                {% set assignedBlock = assignedBlock|merge([DiamUI.attributeRow('oro.user.phone.label'|trans, oroUserAssigned.getPhone ? oroUserAssigned.getPhone : 'diamante.desk.common.not_available'|trans) ]) %}
                {% set avatarAssigned = oro_configured_image_url(oroUserAssigned, 'avatar') %}
            {% else %}
                {% set detailsBlock = detailsBlock|merge([DiamUI.attributeRow('diamante.desk.attributes.assignee'|trans, entity.unassignedLabel|trans)]) %}
            {% endif %}

            {% set sidebarDataBlocks = [
                {
                'id': 'details',
                'title': 'diamante.desk.ticket.details'|trans,
                'data' : detailsBlock
                },
                {
                'id': 'reporter',
                'name': reporterDisplayName,
                'title': 'Reporter by',
                'data': reporterBlock,
                'avatar': avatarReporter
                }
                ]
            %}

            {% if oroUserAssigned != null %}
                {% set sidebarDataBlocks = sidebarDataBlocks|merge([
                    {
                    'id': 'assignee',
                    'name': oroUserAssigned|oro_format_name,
                    'title': 'Assigned to',
                    'data': assignedBlock,
                    'avatar': avatarAssigned
                    }
                    ])
                %}
            {% endif %}

            {% set sidebarDataBlocks = sidebarDataBlocks|merge([
                {
                'id': 'watchers',
                'title': 'Listeners/Watchers',
                'data': [WatchersListWidget]
                }
                ])
            %}

            {% for subblock in sidebarDataBlocks %}
                <div class="{{ subblock.id }}-block">
                    {% if subblock.id == 'reporter' %}
                        <h5 class="user-fieldset">{{ subblock.title }} {{ subblock.name }} <span class="info-date"></span></h5>
                    {% else %}
                        {% if subblock.id == 'assignee' %}
                            <h5 class="user-fieldset">{{ subblock.title }} {{ subblock.name }}</h5>
                        {% else %}
                            <h5 class="user-fieldset">{{ subblock.title }}</h5>
                        {% endif %}
                    {% endif %}

                    {% if (subblock.avatar is defined)  %}
                        {% set defaultAvatar = asset('bundles/oroui/img/info-user.png') %}
                        <div class="user-avatar">
                            <img src="{{ (subblock.avatar != '') ? subblock.avatar : defaultAvatar }}" alt="{{ reporterDisplayName }}">
                        </div>
                    {% endif %}
                    <div class="{{ subblock.id }}-info">
                        {% for curData in subblock.data %}
                            {{ curData }}
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}

        </div>
    </div>

    <script type="text/javascript">
        require(['jquery', 'moment'],
        function($, moment) {
            var date = moment('{{ entity.getCreatedAt.date }}');
            $('.info-date').text('('+date.fromNow()+')');
        });
    </script>

    {#{{ dump(entity) }}#}
{% endblock sidebar %}
