{% block sidebar %}
    <div class="form-horizontal" id="right-block">
        <div class="responsive-cell responsive-cell-no-blocks">
            {% set detailsBlock = [DiamUI.attributeRow('diamante.desk.attributes.source'|trans, entity.source.getLabel)] %}
            {% set detailsBlock = detailsBlock|merge([DiamUI.attributeRow('diamante.desk.attributes.priority'|trans, entity.priority.getLabel)]) %}
            {% set reporterBlock = [DiamUI.attributeRow('diamante.desk.attributes.reporter'|trans, reporterDisplayName, '', {valueCss: reporterModel.isDeleted ? 'deleted-reporter' : ''})] %}
            {% set reporterBlock = reporterBlock|merge([DiamUI.attributeRow('email', reporter.getEmail)]) %}
            {% set oroUserReporter = fetch_oro_user(entity.reporter) %}
            {% set diamanteUserReporter = fetch_diamante_user(entity.reporter) %}
            {% if oroUserReporter %}
                {% set avatarReporter = oro_configured_image_url(oroUserReporter, 'avatar') %}
                {% set reporterBlock = reporterBlock|merge([DiamUI.attributeRow('oro.user.phone.label'|trans, oroUserReporter.getPhone ? oroUserReporter.getPhone : 'diamante.desk.common.not_available'|trans)]) %}
            {% elseif diamanteUserReporter %}
                {% set avatarReporter = get_gravatar(diamanteUserReporter.email) %}
                {% set reporterBlock = reporterBlock|merge([DiamUI.attributeRow('oro.user.phone.label'|trans,diamanteUserReporter.getPhone ? diamanteUserReporter.getPhone : 'diamante.desk.common.not_available'|trans)]) %}
            {% endif %}

            {% set oroUserAssigned = entity.assignee  %}
            {% set assignedBlock = [DiamUI.attributeRow('diamante.desk.attributes.assignee'|trans, oroUserAssigned ? oroUserAssigned|oro_format_name : entity.unassignedLabel|trans)] %}
            {% if oroUserAssigned != null %}
                {% set assignedBlock = assignedBlock|merge([DiamUI.attributeRow('oro.user.emails.label'|trans, oroUserAssigned.getEmail) ]) %}
                {% set assignedBlock = assignedBlock|merge([DiamUI.attributeRow('oro.user.phone.label'|trans, oroUserAssigned.getPhone ? oroUserAssigned.getPhone : 'diamante.desk.common.not_available'|trans) ]) %}
                {% set avatarAssigned = oro_configured_image_url(oroUserAssigned, 'avatar') %}
            {% else %}
                {% set avatarAssigned = null %}
            {% endif %}


            {% set sidebarDataBlocks =
                [
                {
                'id': 'details',
                'title': 'diamante.desk.ticket.details'|trans,
                'data' : detailsBlock
                },
                {
                'id': 'reporter',
                'title': 'Reporter by',
                'data': reporterBlock,
                'avatar': avatarReporter
                },
                {
                'id': 'assignee',
                'title': 'Assigned to',
                'data': assignedBlock,
                'avatar': avatarAssigned
                },
                {
                'id': 'watchers',
                'title': 'Listeners/Watchers',
                'data': [WatchersListWidget]
                },
                ]
            %}

            {% for subblock in sidebarDataBlocks %}
                <div class="{{ subblock.id }}-block">
                    {% if subblock.id == 'reporter' %}
                        <h5 class="user-fieldset"><span>{{ subblock.title }}</span><span class="info-date"></span></h5>
                    {% else %}
                        <h5 class="user-fieldset"><span>{{ subblock.title }}</span></h5>
                    {% endif %}
                    {% if subblock.avatar is defined and subblock.avatar %}
                        {% set defaultAvatar = asset('bundles/oroui/img/info-user.png') %}
                        <div class="user-avatar">
                            <img src="{{ (subblock.avatar != '') ? subblock.avatar : defaultAvatar }}" alt="{{ reporterDisplayName }}">
                        </div>
                    {% endif %}
                    <div class="{{ subblock.id }}-info">
                        {% for curData in subblock.data %}
                            {{ curData }}
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}

        </div>
    </div>

    <script type="text/javascript">
        require(['jquery', 'moment'],
        function($, moment) {
            var date = moment('{{ entity.getCreatedAt.date }}');
            date.locale('ru');
            $('.info-date').text(date.fromNow());
        });
    </script>

    {#{{ dump(entity) }}#}
{% endblock sidebar %}
