<thead>
  <tr>
    <th class="key sortable"><%= sorterState('key') %> <span><%= __('diamante_front.ticket.template.list.key') %></span></th>
    <th class="createdAt sortable"><%= sorterState('createdAt') %> <span><%= __('diamante_front.ticket.template.list.date') %></span></th>
    <th class="subject sortable"><%= sorterState('subject') %> <span><%= __('diamante_front.ticket.template.list.subject') %></span></th>
    <th class="priority sortable"><%= sorterState('priority') %> <span><%= __('diamante_front.ticket.template.list.priority') %></span></th>
    <th class="status sortable"><%= sorterState('status') %> <span><%= __('diamante_front.ticket.template.list.status') %></span></th>
  </tr>
</thead>
<tbody></tbody>