<div class="row">
    <div class="col-xs-6 col-sm-12">
        <a class="btn btn-link btn-back js-back" href="<%= back_url %>">
            <i class="fa fa-caret-left"></i>View all tickets
        </a>
    </div>
    <div class="col-xs-6 col-sm-4 col-sm-push-8 col-md-3 col-md-push-9 ticket-action">
        <% if(status !== 'closed'){ %>
        <button type="button" class="btn btn-primary btn-block js-close-ticket"><%= __('diamante_front.ticket.template.resolve_button') %></button>
        <% } else { %>
        <button type="button" class="btn btn-primary btn-block js-open-ticket"><%= __('diamante_front.ticket.template.reopen_button') %></button>
        <% } %>
    </div>
    <div class="col-xs-12 col-sm-8 col-sm-pull-4 col-md-9 col-md-pull-3 ticket-title">
        <div class="ticket-actions pull-right">
            <button class="btn btn-link js-edit-ticket" title="Edit Ticket"><i class="fa fa-pencil"></i></button>
        </div>
        <h1><%= subject %></h1>
    </div>
</div>
<div class="row">
    <div class="col-sm-8 col-md-9 ticket-content">
        <div class="ticket-meta">
            <span class="key"><%= key %></span>
            <span class="createdAt"><%= created %></span>
            <span class="priority"><%= __('diamante_front.ticket.template.list.priority') %>: <span><%= priority %></span></span>
            <span class="status"><%= __('diamante_front.ticket.template.list.status') %>: <span><%= status %></span></span>
        </div>
        <div class="ticket-description"><%= description %></div>
    </div>
    <div class="col-sm-4 col-md-3 ticket-aside">
        <div class="block" id="attachments">
            <%= __('Loading...') %>
        </div>
        <div class="block" id="watchers">
            <%= __('Loading...') %>
        </div>
    </div>
    <div class="col-sm-8 col-md-9 block" id="comments">
        <%= __('Loading...') %>
    </div>
</div>
