<thead>
  <tr>
    <th class="key sortable"><%= sorterState('key') %> <span>Key</span></th>
    <th class="createdAt sortable"><%= sorterState('createdAt') %> <span>Date</span></th>
    <th class="subject sortable"><%= sorterState('subject') %> <span>Subject</span></th>
    <th class="priority sortable"><%= sorterState('priority') %> <span>Priority</span></th>
    <th class="status sortable"><%= sorterState('status') %> <span>Status</span></th>
  </tr>
</thead>
<tbody></tbody>