<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DiamanteDesk</title>

    <link rel="manifest" href="{{ asset('bundles/diamantedistribution/img/ico/manifest.json') }}">
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="{{ asset('bundles/diamantedistribution/img/ico/apple-touch-icon-57x57.png')}}" />
    <link rel="apple-touch-icon-precomposed" sizes="60x60" href="{{ asset('bundles/diamantedistribution/img/ico/apple-touch-icon-60x60.png')}}" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ asset('bundles/diamantedistribution/img/ico/apple-touch-icon-72x72.png')}}" />
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="{{ asset('bundles/diamantedistribution/img/ico/apple-touch-icon-76x76.png')}}" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ asset('bundles/diamantedistribution/img/ico/apple-touch-icon-114x114.png')}}" />
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="{{ asset('bundles/diamantedistribution/img/ico/apple-touch-icon-120x120.png')}}" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ asset('bundles/diamantedistribution/img/ico/apple-touch-icon-144x144.png')}}" />
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="{{ asset("bundles/diamantedistribution/img/ico/apple-touch-icon-152x152.png")}}" />

    <link rel="icon" type="image/png" href="{{ asset('bundles/diamantedistribution/img/ico/favicon-16x16.png')}}" sizes="16x16" />
    <link rel="icon" type="image/png" href="{{ asset('bundles/diamantedistribution/img/ico/favicon-32x32.png')}}" sizes="32x32" />
    <link rel="icon" type="image/png" href="{{ asset('bundles/diamantedistribution/img/ico/favicon-96x96.png')}}" sizes="96x96" />
    <link rel="icon" type="image/png" href="{{ asset('bundles/diamantedistribution/img/ico/favicon-194x194.png')}}" sizes="194x194" />

    <meta name="application-name" content="DiamanteDesk"/>
    <meta name="msapplication-TileColor" content="#FFFFFF" />
    <meta name="msapplication-TileImage" content="{{ asset('bundles/diamantedistribution/img/ico/mstile-144x144.png') }}" />
    <meta name="theme-color" content="#ffffff">

    {% if app.environment == 'dev' %}
    <link rel="stylesheet" href="{{ asset('bundles/diamantefront/css/main.css') }}" type="text/css"/>
    {% else %}
    <link rel="stylesheet" href="{{ asset('bundles/diamantefront/css/main.min.css') }}" type="text/css"/>
    {% endif %}
</head>
<body>
<div class="wrap">
    <header id="header"></header>
    <section id="main" class="container">
        <div id="messages"></div>
        <div id="content">
            <div class="loader">
                <div>
                    <i class="fa fa-cog fa-spin"></i>
                    <strong>{% trans %}Loading...{% endtrans %}</strong>
                </div>
            </div>
        </div>
    </section>
    <footer id="footer"></footer>
</div>
<div id="dialog"></div>

{% if app.environment == 'dev' %}
    <script data-main="{{ asset('bundles/diamantefront/js/main.js') }}"
            src="{{ asset('bundles/diamantefront/js/vendor/requirejs/require.js') }}"></script>
{% else %}
    <script src="{{ asset('bundles/diamantefront/js/vendor/requirejs/require.js') }}"></script>
    <script src="{{ asset('bundles/diamantefront/js/main.built.js') }}"></script>
{% endif %}
<script>
    require.config({
        baseUrl: '{{ asset('bundles/diamantefront/js/') }}',
        config : {
            'config' : {
                env : '{{ app.environment }}',
                basePath : '{{ basePath }}',
                baseUrl : '{{ baseUrl }}',
                apiUrl : '{{ apiUrl }}',
                branchId : {{ branchId }},
                logo : '{{ basePath }}/bundles/diamantefront/img/logo.png',
                title : 'DiamanteDesk'
            }
        },
        paths: {
            'translations' : '{{ url('diamante_front_jstranslation')[0:-3] }}'
        }
    });
</script>

</body>
</html>
