<!DOCTYPE html>
<html class="{% if isMobileVersion() %}mobile{% else %}desktop{% endif %}-version">
<head>
    {% block head %}
    <title>{{ oro_title_render() }}</title>
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=no">

    <link rel="manifest" href="{{ asset('bundles/diamantedistribution/img/ico/manifest.json') }}">
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="{{ asset('bundles/diamantedistribution/img/ico/apple-touch-icon-57x57.png')}}" />
    <link rel="apple-touch-icon-precomposed" sizes="60x60" href="{{ asset('bundles/diamantedistribution/img/ico/apple-touch-icon-60x60.png')}}" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ asset('bundles/diamantedistribution/img/ico/apple-touch-icon-72x72.png')}}" />
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="{{ asset('bundles/diamantedistribution/img/ico/apple-touch-icon-76x76.png')}}" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ asset('bundles/diamantedistribution/img/ico/apple-touch-icon-114x114.png')}}" />
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="{{ asset('bundles/diamantedistribution/img/ico/apple-touch-icon-120x120.png')}}" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ asset('bundles/diamantedistribution/img/ico/apple-touch-icon-144x144.png')}}" />
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="{{ asset("bundles/diamantedistribution/img/ico/apple-touch-icon-152x152.png")}}" />

    <link rel="icon" type="image/png" href="{{ asset('bundles/diamantedistribution/img/ico/favicon-16x16.png')}}" sizes="16x16" />
    <link rel="icon" type="image/png" href="{{ asset('bundles/diamantedistribution/img/ico/favicon-32x32.png')}}" sizes="32x32" />
    <link rel="icon" type="image/png" href="{{ asset('bundles/diamantedistribution/img/ico/favicon-96x96.png')}}" sizes="96x96" />
    <link rel="icon" type="image/png" href="{{ asset('bundles/diamantedistribution/img/ico/favicon-194x194.png')}}" sizes="194x194" />

    <meta name="application-name" content="DiamanteDesk"/>
    <meta name="msapplication-TileColor" content="#FFFFFF" />
    <meta name="msapplication-TileImage" content="{{ asset('bundles/diamantedistribution/img/ico/mstile-144x144.png') }}" />
    <meta name="theme-color" content="#ffffff">

    {% placeholder head_style %}

    {% include 'OroRequireJSBundle::scripts.html.twig' with {compressed: not app.debug} %}
    <script type="text/javascript">
        require(['jquery', 'oroui/js/init-layout', 'orouser/js/init-signin'],
        function($) {
            $(function() {
                // emulates 'document ready state' for selenium tests
                document['page-rendered'] = true;
            });
        });
    </script>
    {% endblock %}
    {% placeholder scripts_after %}
</head>
<body class="{% if isMobileVersion() %}mobile{% else %}desktop{% endif %}-version {% block bodyClass %}{% endblock %}">
    <div id="page">
        <div id="top-page">
            {% set messagesContent %}
            {% if app.session.flashbag.peekAll|length > 0 %}
                {% for type, messages in app.session.flashbag.all %}
                    {% for message in messages %}
                    <div class="alert{{ type ? ' alert-'~type : '' }}">
                    {{ message|trans|raw }}
                    </div>
                    {% endfor %}
                {% endfor %}
            {% endif %}
            {% endset %}

            {% block messages %}
                {{ messagesContent }}
            {% endblock %}

            {% block header %}
            {% endblock header %}

            {% block main %}
                {% block content %}
                {% endblock content %}
            {% endblock main %}
        </div>
    </div>
</body>
</html>
