{% extends 'DiamanteDeskBundle:Branch:edit.html.twig' %}

{% block content_data %}
    {% set logo %}
        <div class="control-group">
            {{ form_label(form.logoFile, null, {'label_attr': {'class' : 'control-label'}}) }}
            <div class="controls">
                <div class="control-group" style="margin-bottom: 0">
                    {{ form_widget(form.logoFile, {'attr': {'accept' : 'image/jpeg, image/png'}}) }}
                </div>
            {% if form_errors(form.logoFile) %}
                <div style="clear:both; float:left">
                    {{ form_errors(form.logoFile) }}
                </div>
            {% endif %}

        {% set logoFile = form.vars.value.logo %}
        {% if logoFile and logoFile.name is not empty %}
            <div id="branch-image-block" class="well well-small oro_attachment_file">
                <span class="filename">
                    <img src="{{ form.vars.value.logo.pathname | imagine_filter('branch_logo_preview') }}"  alt="{{ form.vars.value.logo.originalName }}" />
                    {{ form.vars.value.logo.originalName }}
                </span>

                {{ form_row(form.removeLogo) }}
                <button id = "branch-image" class="btn btn-action btn-link delete" type="button"></button>
                <script type="text/javascript">
                    require(['jquery'],
                        function($){
                            $(function() {
                                $(document).on('click', '#branch-image', function() {
                                    $('#branch-image-block').hide();
                                    $('#{{ form.removeLogo.vars.id }}').val('true');
                                    return false;
                                });
                            });
                        });
                </script>
            </div>
        {% endif %}
            </div>
        </div>
    {% endset %}
    {% set id = 'branchEdit' %}

    {% set dataBlocks = [{
    'title': 'diamante.desk.common.general'|trans,
    'class': 'active',
    'subblocks': [
    {
    'title': 'diamante.desk.branch.details'|trans,
    'data': [
    form_row(form.name),
    form_row(form.defaultAssignee),
    logo,
    form_row(form.tags)
    ]
    }
    ]
    }] %}

    {% set dataBlocks = dataBlocks|merge([{
    'title': 'diamante.desk.common.description'|trans,
    'subblocks': [
    {
    'title':null,
    'data': [
    form_row(form.description),
    ]
    }]
    }]
    ) %}

    {% set dataBlocks = dataBlocks|merge([{
    'title': 'diamante.desk.email.configuration'|trans,
    'subblocks': [
    {
    'title':null,
    'data': [
    form_row(form.branch_email_configuration.supportAddress),
    form_row(form.branch_email_configuration.customerDomains)
    ]
    }]
    }]
    ) %}

    {% set data = {
    'formErrors': form_errors(form)? form_errors(form) : null,
    'dataBlocks': dataBlocks,
    } %}
    {{ parent() }}
{% endblock content_data %}
