<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only"><%= __('diamante_front.common.template.close') %></span></button>
      <% if(status == 'error'){ %>
        <div class="status text-danger">
          <i class="fa fa-times"></i>
        </div>
      <% } else if (status == 'success'){ %>
        <div class="status text-success">
          <i class="fa fa-check"></i>
        </div>
      <% } else if (status == 'info'){ %>
        <div class="status text-info">
          <i class="fa fa-info"></i>
        </div>
      <% } %>
      <h4 class="modal-title"><%= title %></h4>
    </div>
    <div class="modal-body">
      <% _.each(messages, function(message){ %>
          <div class="alert alert-<%= message.status_class %>" role="alert">
            <i class="fa fa-<%= message.status_icon %>"></i>&nbsp;<%= message.text %>
          </div>
      <% }); %>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal"><%= __('diamante_front.common.template.close') %></button>
    </div>
  </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->