<div class="widget-content form-horizontal box-content row-fluid">
    {% if reload_page is defined and reload_page %}
        <script type="text/javascript">
            require(['oroui/js/widget-manager', 'oroui/js/mediator'],
                    function(widgetManager, Mediator) {
                        widgetManager.getWidgetInstance({{ app.request.get('_wid')|json_encode|raw }}, function (widget) {
                            widget.remove();
                        });
                        {% if redirect is defined %}
                        Mediator.execute('redirectTo', {url: '{{redirect}}'});
                        {% else %}
                        Mediator.execute('refreshPage');
                        {% endif %}
                    });
        </script>
    {% else %}
        <div class="form-container">
            <form id="{{ form.vars.name }}" action="{{ path('diamante_branch_mass_action', {'gridName': 'diamante-branch-grid', 'actionName': 'delete', 'no_redirect': true} ) }}" method="post">
                <fieldset class="form form-horizontal">
                    <p>{{ 'diamante.desk.branch.messages.delete.query'|trans }}</p>
                    <div class="span6">
                            {{ form_row(form.moveMassTickets) }}
                        <div id="moveMassTickets" style="display: none;">
                            {{ form_row(form.newBranch) }}
                        </div>
                        <div>
                            {{ form_row(form.removeBranches) }}
                        </div>
                    </div>

                    <div class="widget-actions form-actions">
                        <button class="btn" type="reset">{{ 'diamante.desk.ui.cancel'|trans }}</button>
                        <button class="btn btn-danger" type="submit">{{ 'diamante.desk.ui.delete'|trans }}</button>
                    </div>
                </fieldset>
                {{ form_rest(form) }}
            </form>
        </div>
        <script type="text/javascript">
            require(['jquery'],
                    function ($) {
                        var selector = '[id*=diamante_mass_delete_branch_form_moveMassTickets]';

                        $(selector).bind('click', function () {
                            if ($(this).is(':checked')) {
                                $('#moveMassTickets').show();
                            } else {
                                $('#moveMassTickets').hide();
                            }
                        })
                    });
        </script>
    {% endif %}
</div>

