<% 'TEMPLATE: automation-edit-template' %>
<% var entities = config.entities; %>
<% var time_intervals = config.time_intervals; %>
<input type="hidden" name="diamante_automation_update_rule_form[rule]" value="">
<div class="control-group">
    <div class="control-label wrap">
        <label for="automation-name" class="required">Name<em>*</em></label>
    </div>
    <div class="controls">
        <input type="text" id="automation-name" name="name"
               data-attr="name" required="required" value="<%= name %>"
               autocomplete="off"
               data-validation="{&quot;NotNull&quot;:{&quot;message&quot;:&quot;This is a required field&quot;,&quot;payload&quot;:null}}" />
    </div>
</div>
<div class="control-group">
    <div class="control-label wrap">
        <label for="automation-status" class="required">Status</label>
    </div>
    <div class="controls">
        <select name="status" data-attr="status" id="automation-status">
            <option value="1"<%= status == 1 ? ' selected' : ''%>>Active</option>
            <option value="0"<%= status == 0 ? ' selected' : ''%>>Inactive</option>
        </select>
    </div>
</div>
<% if(type == 'business') { %>
<div class="control-group">
    <div class="control-label wrap">
        <label for="automation-time_interval" class="required">Frequency<em>*</em></label>
    </div>
    <div class="controls">
        <select name="time_interval"  data-attr="time_interval" id="automation-time_interval">
        <% for(var key in time_intervals) { %>
        <option value="<%= key %>"<%= key == time_interval ? ' selected' : ''%>><%= config.time_intervals[key] %></option>
        <% } %>
        </select>
    </div>
</div>
<% } %>
<% if(isNew){ %>
<div class="control-group">
    <div class="control-label wrap">
        <label for="automation-target" class="required">Target<em>*</em></label>
    </div>
    <div class="controls">
        <select name="target" data-attr="target" id="automation-target">
            <% for(var key in entities) { %>
            <option value="<%= key %>"<%= key == target ? ' selected' : ''%>><%= entities[key].label %></option>
            <% } %>
        </select>
    </div>
</div>
<% } %>
<div id="automation-conditions"></div>
<div id="automation-actions"></div>