<td class="key"><a href="#tickets/<%= id %>"><%= key %></a></td>
<td class="createdAt"><a href="#tickets/<%= id %>"><%= created %></a></td>
<td class="subject"><a href="#tickets/<%= id %>"><%= subject %></a></td>
<td class="priority"><a href="#tickets/<%= id %>"><%= priority %></a></td>
<td class="status"><a href="#tickets/<%= id %>"><%= status %></a></td>