<div class="user-meta">
  <img src="<%=avatar_url %>?s=64&d=identicon" class="user-image" alt="<%=first_name %> <%=last_name %>" />
  <strong class="user-name"><%=first_name %> <%=last_name %></strong>
</div>
<button class="btn btn-default btn-block js-edit-user">Edit</button>
<button class="btn btn-default btn-block js-logout">Logout</button>