<% if (typeof(file) !== 'undefined') { %>
  <% if (typeof(thumbnails) !== 'undefined') { %>
      <span class="media">
        <img src="<%= thumbnails.url %>" alt="<%= file.filename %>">
      </span>
  <% } %>
  <ul class="attachment-tools pull-right">
    <li><button class="btn btn-link js-delete-attachment" title="<%= __('diamante_front.attachment.template.button.remove') %>" ><i class="fa
      fa-times"></i></button></li>
  </ul>
  <a href="<%= file.url %>" title="<%= __('diamante_front.attachment.template.link.download') %> <%= file.filename %>"><%= file.filename %></a>
<% } else { %>
  <ul class="attachment-tools pull-right">
    <li><button class="btn btn-link js-delete-attachment" title="<%= __('diamante_front.attachment.template.button.remove') %>" ><i class="fa
      fa-times"></i></button></li>
  </ul>
  <a href="<%= base64 %>" title="<%= __('diamante_front.attachment.template.link.download') %> <%= filename %>" target="_blank"><%= filename %></a>
<% } %>
