<% var entities = config.entities; %>
<% var conditions = config.conditions; %>
<% var properties = typeof entity !== 'undefined' && config.entities[entity] && config.entities[entity].properties; %>
<% var property = typeof property !== 'undefined' && property; %>
<% var type = typeof type !== 'undefined' && type; %>
<% var value = typeof value !== 'undefined' && value; value = value ? value : ''; %>
<div class="controls">
    <span>If</span>
    <select name="conditions[entity]" data-attr="entity" data-rel-attr="value">
        <% for(var key in entities) { %>
        <option value="<%= key %>"<%= key == entity ? ' selected' : ''%>><%= entities[key].label %></option>
        <% } %>
    </select>
    <% if(properties){ %>
        <span>Property</span>
        <select name="conditions[property]" data-attr="property">
            <% for(var key in properties) { %>
            <option value="<%= key %>"<%= key == property ? ' selected' : ''%>><%= properties[key].label %></option>
            <% } %>
        </select>
        <select name="conditions[type]" data-attr="type">
            <% for(var key in conditions) { %>
            <option value="<%= key %>"<%= key == type ? ' selected' : ''%>><%= conditions[key] %></option>
            <% } %>
        </select>
        <% if(property && properties[property]){ %>
            <% if(properties[property].type == 'string'){ %>
                <input type="text" name="conditions[value]" data-attr="value" value="<%= value %>" />
            <% } else if (properties[property].frontend_options){ %>
                <select name="conditions[value]" data-attr="value">
                <% for(var key in properties[property].frontend_options) { %>
                    <option value="<%= key %>"<%= key == value ? ' selected' : ''%>>
                        <%= properties[property].frontend_options[key] %>
                    </option>
                <% } %>
                </select>
            <% } %>
        <% } %>
    <% } %>
</div>