<% var entities = config.entities; %>
<% var conditions = config.conditions; %>
<% var properties = typeof entity !== 'undefined' && config.entities['ticket'] && config.entities['ticket'].properties; %>
<% var property = typeof property !== 'undefined' && property; %>
<% var type = typeof type !== 'undefined' && type; %>
<% var value = typeof value !== 'undefined' && value; value = value ? value : ''; %>
<div class="controls">
    <span>If</span>
    <strong><%= entities[entity].label %></strong>
    <% if(properties){ %>
        <strong><%= properties[property].label %></strong>
        <strong><%= conditions[type] %></strong>
        <% if(property && properties[property]){ %>
            <% if(properties[property].type == 'string'){ %>
                <strong><%= value %>"</strong>
            <% } else if (properties[property].frontend_options){ %>
                <strong><%= properties[property].frontend_options[value] %></strong>
            <% } %>
        <% } %>
    <% } %>
</div>