<a href="<%= baseUrl %>" class="logo">
  <img src="<%= basePath %>/bundles/diamantefront/img/logo.png" alt="DiamanteDesk"/>
</a>
<% if(typeof hash !== 'undefined') { %>
<form role="form">
  <input name="hash" type="hidden" value="<%= hash %>"/>
  <div class="form-group">
    <label class="control-label" for="password"><%= __('diamante_front.session.template.label.new_password') %></label>
    <input type="password" class="form-control input-lg" id="password" name="password" tabindex="1"
           placeholder="<%= __('diamante_front.session.template.placeholder.new_password') %>">
  </div>
  <p><%= __('diamante_front.session.template.back.reset', {url: '#login'}) %></p>
  <button type="submit" class="btn btn-primary btn-lg btn-block js-submit" tabindex="2"><%= __('diamante_front.session.template.button.set_password') %></button>
</form>
<% } else { %>
<form role="form">
  <div class="form-group">
    <label class="control-label" for="email"><%= __('diamante_front.session.template.label.email') %></label>
    <input type="text" class="form-control input-lg" id="email" name="email" tabindex="1"
           placeholder="<%= __('diamante_front.session.template.placeholder.email') %>">
  </div>
  <p><%= __('diamante_front.session.template.back.reset', {url: '#login'}) %></p>
  <p><button type="submit" class="btn btn-primary btn-lg js-submit" tabindex="2"><%= __('diamante_front.session.template.button.reset_password') %></button></p>
</form>
<% } %>
