{% import 'OroUIBundle::macros.html.twig' as UI %}

{% form_theme form with ['OroAddressBundle:Include:fields.html.twig', 'OroFormBundle:Form:fields.html.twig', 'OroTagBundle:Form:fields.html.twig'] %}

{% set author = 'diamante.desk.comment.placeholders.deleted_user'|trans %}
{% set oroUser = fetch_oro_user(user) %}
{% set diamanteUser = fetch_diamante_user(user) %}
{% if oroUser %}
    {% set author = oroUser|oro_format_name %}
    {% set avatar = oro_configured_image_url(oroUser, 'avatar') %}
{% elseif diamanteUser %}
    {% set author = diamanteUser.firstName ~ ' ' ~ diamanteUser.lastName %}
    {% set avatar = get_gravatar(diamanteUser.email) %}
{% endif %}

{% set options  = {
    formName : form.vars.full_name,
    privateInputId : form.private.vars.id
} %}

<div class="diam-comment-form"
     data-page-component-name="comment-component-form"
     data-page-component-module="diamantedesk/js/app/components/comment-component-form"
     data-page-component-options="{{ options|json_encode }}">
    <div class="diam-comment-user-image">
        {% set defaultAvatar = asset('bundles/oroui/img/info-user.png') %}
        <img src="{{ (avatar is defined and avatar != '' ) ? avatar : defaultAvatar }}" alt="{{ author }}">
    </div>
    {{ form_start(form, { 'action' : path('diamante_comment_create', { 'id': ticket.id }) }) }}
        {{ form_errors(form) }}
        <div class="diam-comment-form-privacy">
            {{ form_widget(form.private) }}
            <div class="diam-comment-form-privacy-private">
                {{ 'diamante.desk.comment.privacy.private.text' | trans }} <label for="{{ form.private.vars.id }}">{{ 'diamante.desk.comment.privacy.private.label' | trans }}</label>
            </div>
            <div class="diam-comment-form-privacy-public">
                {{ 'diamante.desk.comment.privacy.public.text' | trans }} <label for="{{ form.private.vars.id }}">{{ 'diamante.desk.comment.privacy.public.label' | trans }}</label>
            </div>
        </div>
        <div class="diam-comment-form-content">
            {{ form_widget(form.content) }}
            {{ form_errors(form.content) }}
        </div>
        <div>
            {{ form_widget(form.attachmentsInput) }}
            {{ form_errors(form.attachmentsInput) }}
        </div>
        <div class="hide">{{ form_widget(form.ticketStatus) }}</div>
    {{ form_end(form) }}
</div>



{% set html %}
    {{ UI.dropdownItem({
        'path': '',
        'title': "Reply",
        'label': "Reply",
        'data' : {
            'comment-action' : 'add'
        }
    }) }}
    {% for status in form.ticketStatus.vars.choices %}
        {{ UI.dropdownItem({
            'path': '',
            'title': "Reply and set status to \"#{ status.label }\"",
            'label': "Reply and set status to \"#{ status.label }\"",
            'data' : {
                'comment-action' : 'set',
                'field-name' : form.ticketStatus.vars.full_name,
                'field-value' : status.value
            }
        }) }}
    {% endfor %}
{% endset %}
<div class="clearfix">
    <div class="pull-right"
         data-page-component-name="comment-component-button"
         data-page-component-module="diamantedesk/js/app/components/comment-component-button"
         data-page-component-options="{{ options|json_encode }}">
        {{ UI.dropdownButton({
            'iCss': 'icon-edit',
            'aCss': 'pull-right',
            'label': "Reply",
            'html': html
        }) }}
    </div>
</div>

