{% extends 'OroUIBundle:actions:view.html.twig' %}
{% import 'OroUIBundle::macros.html.twig' as macros %}
{% import 'OroDataGridBundle::macros.html.twig' as dataGrid %}
{% import 'OroEmailBundle::macros.html.twig' as EA %}

{% oro_title_set({params : {"%branch.name%": entity.name|default('diamante.desk.common.not_available'|trans) }}) %}

{% block navButtons %}
    {% if resource_granted('CREATE', 'Entity:DiamanteDeskBundle:Ticket') %}
        {{ UI.button({
            'path': path('diamante_ticket_create', {'id': entity.id}),
            'iCss': 'icon-plus',
            'title': 'diamante.desk.ticket.actions.add'|trans,
            'label': 'diamante.desk.ticket.actions.add'|trans
        }) }}
    {% endif %}
    {% if resource_granted('EDIT', entity) %}
        {{ UI.button({
            'path': path('diamante_branch_update', {'id': entity.id}),
            'iCss': 'fa-pencil-square-o',
            'title': 'diamante.desk.branch.actions.edit'|trans,
            'label': 'diamante.desk.ui.edit'|trans
        }) }}
    {% endif %}

    {#'successMessage': 'diamante.desk.branch.messages.delete.success'|trans,#}
    {% if resource_granted('DELETE', entity) and not is_default_branch(entity) %}
        {{ UI.clientButton({
            'dataUrl': path('diamante_branch_view_delete_form', {id: entity.id}),
            'aCss': 'remove-brunch',
            'iCss': 'fa-trash-o',
            'dataId': entity.id,
            'id': 'btn-delete-form',
            'label': 'diamante.desk.ui.delete'|trans,
            'widget' : {
                'type' : 'dialog',
                'multiple' : false,
                'options' : {
                    'alias': 'branch-delete-dialog',
                    'stateEnabled' : false,
                    'dialogOptions' : {
                        'resizable' : false,
                        'title': 'diamante.desk.branch.actions.remove'|trans,
                        'autoResize': false
                    }
                }
            }
        })
        }}
    {% endif %}
{% endblock navButtons %}

{% block pageHeader %}
    {% set breadcrumbs = {
            'entity': entity,
            'indexPath': path('diamante_branch_list'),
            'indexLabel': 'diamante.desk.branch.entity_plural_label'|trans,
            'entityTitle': entity.name|default('diamante.desk.common.not_available'|trans),
            'hasAvatar': true,
            'imagePath': entity.logo ? entity.logo.pathname : null
        }
    %}
    {{ parent() }}
{% endblock pageHeader %}

{% block content_data %}
    {% set id = 'branchUpdate' %}

    {% set dataSubBlocks = [UI.attibuteRow('diamante.desk.forms.name'|trans, entity.name)] %}
    {% set dataSubBlocks = dataSubBlocks|merge([UI.attibuteRow('diamante.desk.forms.key'|trans, entity.key)]) %}

    {% set defaultAssigneeFullName = entity.defaultAssignee ? entity.defaultAssignee|oro_format_name : 'diamante.desk.common.not_defined'|trans %}
    {% set dataSubBlocks = dataSubBlocks|merge([UI.attibuteRow('diamante.desk.forms.default_assignee'|trans, defaultAssigneeFullName)]) %}

    {% set dataBlocks =
        [{
            'title': 'diamante.desk.common.general'|trans,
            'class': 'active',
            'subblocks': [{
                'title': 'diamante.desk.branch.details'|trans,
                'data' : dataSubBlocks
            }]
        }]
    %}

    {% set description = entity.description %}
    {% set noDescription %}
    <span>{{ 'diamante.desk.common.no_description'|trans }}</span>
    {% endset %}
    {% set dataBlocks = dataBlocks|merge([{
        'title': 'diamante.desk.common.description'|trans,
        'subblocks':[{
            'title': null,
            'data': [description ? description : noDescription]}]
        }]
    ) %}

    {% set dataBlocks = dataBlocks|merge([{
        'title' : 'diamante.desk.ticket.entity_plural_label'|trans,
        'subblocks': [
            {
                'title' : null,
                'data' : [dataGrid.renderGrid('diamante-branch-tickets-grid', { branch: entity.id }, { cssClass: 'inner-grid diam-tickets' })],
                'useSpan': false
            }
        ]
    }]) %}

    {% set data = {'dataBlocks': dataBlocks} %}
    {{ parent() }}
{% endblock content_data %}
