<% if(isAuthor) {%>
<ul class="comment-tools pull-right">
    <li><button class="btn btn-link js-edit-comment" title="Edit Comment"><i class="fa fa-pencil"></i></button></li>
    <li><button class="btn btn-link js-delete-comment" title="Delete Comment"><i class="fa fa-times"></i></button></li>
</ul>
<% } %>
<% if(typeof authorName !== 'undefined') { %>
<img src="<%= avatar_url %>?s=32&d=identicon"
     class="comment-author-image img-circle"
     alt="<%= authorName %>" />
<strong class="commment-author-name">
    <%= authorName  %>
</strong>
<% } else { %>
<img src="<%= avatar_url %>?s=32&d=mm"
     class="comment-author-image img-circle"
     alt="Loading..." />
<strong class="commment-author-name">
  Loading...
</strong>
<% } %> <%= content %>
<small class="comment-date"><%= created %></small>
<% if(attachments && attachments.length) { %>
<div class="comment-attachments-block">
  <strong>File attachments:</strong>
  <ul class="comment-attachments">
    <% _.each(attachments, function(attachment){ %>
    <li><a href="<%= attach_link(attachment.hash) %>" title="Download: <%= attachment.filename %>"><%= attachment.filename %></a></li>
    <% }); %>
  </ul>
</div>
<% } %>