{% extends 'OroUIBundle:actions:view.html.twig' %}
{% import 'OroUIBundle::macros.html.twig' as UI %}

{% oro_title_set({params : {"%rule.name%": entity.name }}) %}

{% block navButtons %}
    {% set ruleType = app.request.get('type') %}
    {% if resource_granted('CREATE', 'Entity:DiamanteDeskBundle:Ticket') %}
        {{ UI.button({
            'path': path('diamante_' ~ type ~ '_create', {'type': ruleType}),
            'iCss': 'icon-plus',
            'title': 'Create rule'|trans,
            'label': 'Create rule'|trans
        }) }}
    {% endif %}

    {% if resource_granted('EDIT', entity) %}
        {{ UI.button({
            'path': path('diamante_' ~ type ~ '_update', {'type': ruleType, 'id': entity.id}),
            'iCss': 'icon-edit',
            'title': 'Edit Rule'|trans,
            'label': 'Edit'|trans
        }) }}
    {% endif %}

    {% if resource_granted('DELETE', entity) %}
        {{ UI.deleteButton({
            'dataUrl': path('diamante_' ~ type ~ '_delete', {'type': ruleType, 'id': entity.id}),
            'dataRedirect': path('diamante_' ~ type ~ '_list', {'type': ruleType}),
            'aCss': 'no-hash remove-button',
            'dataId': entity.id,
            'id': 'btn-remove-account',
            'dataMessage': 'diamante.automation.rule.messages.delete.query'|trans,
            'successMessage': 'diamante.automation.rule.messages.delete.success'|trans,
            'title': 'Delete Rule'|trans,
            'label': 'Delete'|trans
        })
        }}
    {% endif %}
{% endblock navButtons %}

{% block pageHeader %}
    {% set breadcrumbs = {
            'entity': entity,
            'indexPath': path('diamante_' ~ type ~ '_list', {'type': type}),
            'indexLabel': 'diamante.automation.rule.entity_plural_label'|trans,
            'entityTitle': entity.name|default('N/A'),
            'hasAvatar':   true,
            'imagePath':   null
        }
    %}
    {{ parent() }}
{% endblock pageHeader %}

{% block content_data %}
    {#{% set id = 'some_id' %}#}
    {#{% set dataBlocks =#}
        {#[{#}
        {#'title': 'title'|trans,#}
        {#'class': 'active',#}
        {#'subblocks': [{#}
            {#'title': 'title'|trans,#}
            {#'data' : []#}
            {#}]#}
        {#}]#}
    {#%}#}
    {#{% set data = {'dataBlocks': dataBlocks} %}#}
    {#{{ parent() }}#}
    {% set options  = {
        config : config,
        type : type,
        model : model,
        edit : false
    } %}
    <div class="diam-automation container-fluid"
         data-page-component-module="diamanteautomation/js/app/components/automation-component"
         data-page-component-options="{{ options|json_encode }}"></div>
{% endblock content_data %}
